In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import slow_statistic

In [109]:
def __calculate_t_statistic_ind__(M1, M2, SS1, SS2, n1, n2):
    
    pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
    std_error = np.sqrt((pool_var / n1) + (pool_var / n2))
    M_d = M1 - M2
    t_statistic = M_d / std_error
    
    return t_statistic

def __calculate_t_portion_ind__(n1, n2, alpha, tail_num):
    
    df = n1 + n2 - 2
    t_portion = round(stats.t.ppf(1 - alpha/tail_num, df=df), 3)
    
    return t_portion

def ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2, alpha=0.05, tail_num=2):
    
    t, cr = __calculate_t_statistic_ind__(M1, M2, SS1, SS2, n1, n2), __calculate_t_portion_ind__(n1, n2, alpha, tail_num)

    if tail_num == 2:

        rejection_decision = (t > cr) | (t < -1 * cr)
        region = f't > {cr} or t < -{cr}'
        criteria = f'two tail, alpha {alpha}'

    elif tail_num == 1:

        if t > 0:

            rejection_decision = (t > cr)
            region = f't > {cr}'

        else:

            rejection_decision = (t < -1 * cr)
            region = f't < -{cr}'

        criteria = f'one tail, alpha {alpha}'

    else:
        print('Should use tail_num 1 or 2.')
        return None

    print(f'[{criteria}] t_statistic:{t}, critical_region:{region}\n=> null hypothesis rejection [{rejection_decision}]')

def cohens_d_ind_from_stats(M1, M2, SS1, SS2, n1, n2):
    
    M_d = M1 - M2
    pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
    estimated_d = round(M_d / np.sqrt(pool_var), 3)
    
    return estimated_d

def r_squared_ind(M1, M2, SS1, SS2, n1, n2):
    
    t_statistic = __calculate_t_statistic_ind__(M1, M2, SS1, SS2, n1, n2)
    r_squared = round(t_statistic**2 / (t_statistic**2 + n1 + n2 - 2), 4)
    
    return r_squared

# 유형
1. Pool Variance. 그룹 별 샘플 사이즈와 pool variance의 관계. 
2. Pool Variance, Estimated standard Error, null hypothesis 기각 여부 결정
3. independent-measure t test (using statistic)
4. independent-measure t test (using raw dataset)
5. sample size, variability가 standard error for the sample mean difference(estimated standard error)에 끼치는 영향

# Pool Variance. 그룹 별 샘플 사이즈와 pool variance의 관계.

---
![''](./10_src/10_03_01.png)

In [2]:
SS1, SS2 = 36, 18

In [3]:
# a. 
n1, n2 = 4, 4
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

9.0

In [4]:
# b. 
n1, n2 = 4, 7
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

6.0

---
![''](./10_src/10_04_01.png)

![''](./10_src/10_04_02.png)

In [5]:
SS1, SS2 = 60, 48

In [6]:
# a. 
n1, n2 = 7, 7
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

9.0

In [7]:
# a. 
n1, n2 = 7, 5
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

10.8

# Pool Variance, Estimated standard Error, null hypothesis 기각 여부 결정

---
![''](./10_src/10_05_01.png)

In [35]:
SS1, SS2 = 1740, 1620
n1, n2 = 15, 15

In [36]:
# a.
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

120.0

In [37]:
# b.
std_error = np.sqrt((pool_var / n1) + (pool_var / n2))
std_error

4.0

In [38]:
# c. 
M_d = 8

t_portion = calculate_t_portion(n1, n2, alpha=0.05, tail_num=2)
t_statistic = M_d / std_error

t_statistic, t_portion, t_statistic > t_portion

(2.0, 2.048, False)

---
![''](./10_src/10_06_01.png)

In [39]:
SS1, SS2 = 462, 420
n1, n2 = 9, 7

In [40]:
# a.
pool_var = (SS1 + SS2) / (n1 - 1 + n2 - 1)
pool_var

63.0

In [41]:
# b.
std_error = np.sqrt((pool_var / n1) + (pool_var / n2))
std_error

4.0

In [42]:
# c. 
M_d = 10

t_portion = calculate_t_portion(n1, n2, alpha=0.05, tail_num=2)
t_statistic = M_d / std_error

t_statistic, t_portion, t_statistic > t_portion

(2.5, 2.145, True)

# independent-measure t test (using statistic)
- change alpah level
- calculate cohens_d
- calculate r_squared
- calculate confidence_interval

---
![''](./10_src/10_07_01.png)

In [52]:
SS1, SS2 = 200, 160
n1, n2 = 10, 10
M1, M2 = 93, 85

In [57]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:4.0, critical_region:t > 2.101 or t < -2.101
=> null hypothesis rejection [True]

---
![''](./10_src/10_08_01.png)

![''](./10_src/10_08_02.png)

In [66]:
SS1, SS2 = 398, 370
n1, n2 = 18, 16
M1, M2 = 42, 48.6

In [61]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2, alpha=0.01)

[two tail, alpha 0.01] t_statistic:-3.920984270187631, critical_region:t > 2.738 or t < -2.738
=> null hypothesis rejection [True]

In [70]:
cohens_d_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

-1.347

---
![''](./10_src/10_09_01.png)

In [73]:
# # s = np.sqrt(SS1 / (n - 1))
# SS1 / (n - 1) = s**2
# SS1 = s**2 * (n - 1)

In [72]:
s1, s2 = 85, 91
n1, n2 = 100, 100

SS1, SS2 = s1**2 * (n1 - 1), s2**2 * (n2 - 1)
M1, M2 = 786, 772

In [75]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:1.124289477102992, critical_region:t > 1.972 or t < -1.972
=> null hypothesis rejection [False]

In [82]:
r_squared_ind(M1, M2, SS1, SS2, n1, n2)

0.0063

---
![''](./10_src/10_10_01.png)

![''](./10_src/10_10_02.png)

In [85]:
n1, n2 = 15, 15
M1, M2 = 40.8, 34
SS1, SS2 = 510, 414

In [86]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:3.2417728034350124, critical_region:t > 2.048 or t < -2.048
=> null hypothesis rejection [True]

In [87]:
cohens_d_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

1.184

---
![''](./10_src/10_11_01.png)

In [88]:
n1, n2 = 27, 27
M1, M2 = 7.41, 4.78
SS1, SS2 = 749.5, 830

In [95]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2, tail_num=1)

[one tail, alpha 0.05] t_statistic:1.7533333333333332, critical_region:t > 1.675
=> null hypothesis rejection [True]

In [96]:
cohens_d_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

0.477

---
![''](./10_src/10_15_01.png)

In [121]:
n1, n2 = 8, 8
M1, M2 = 10.5, 6.16
SS1, SS2 = 108, 116

In [122]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:2.17, critical_region:t > 2.145 or t < -2.145
=> null hypothesis rejection [True]

---
![''](./10_src/10_17_01.png)

# independent-measure t test (using raw dataset)

---
![''](./10_src/10_12_01.png)

![''](./10_src/10_12_02.png)

In [97]:
exp_df = pd.DataFrame({'A':[24, 25, 22, 24, 26, 17, 21, 22, 22, 19, 24, 23, 23, 28, 25, 23], 
                       'B':[26, 23, 20, 23, 20, 16, 21, 17, 18, 23, 16, 20, 25, 19, 17, 16]})
exp_df

     A   B
0   24  26
1   25  23
2   22  20
3   24  23
4   26  20
5   17  16
6   21  21
7   22  17
8   22  18
9   19  23
10  24  16
11  23  20
12  23  25
13  28  19
14  25  17
15  23  16

In [106]:
n1, n2 = len(exp_df.A), len(exp_df.A)
M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = np.sum([r**2 for r in exp_df.A]) - (np.sum(exp_df.A)**2 / n1), np.sum([r**2 for r in exp_df.B]) - (np.sum(exp_df.B)**2 / n2)

In [108]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:2.8603877677367766, critical_region:t > 2.042 or t < -2.042
=> null hypothesis rejection [True]

In [110]:
stats.ttest_ind(exp_df.A, exp_df.B)

Ttest_indResult(statistic=2.8603877677367766, pvalue=0.007632564205742544)

---
![''](./10_src/10_13_01.png)

In [111]:
exp_df = pd.DataFrame({'A':[10, 8, 7, 9, 13, 7, 6, 12], 
                       'B':[7, 4, 9, 3, 7, 6, 10, 2]})
exp_df

    A   B
0  10   7
1   8   4
2   7   9
3   9   3
4  13   7
5   7   6
6   6  10
7  12   2

In [112]:
n1, n2 = len(exp_df.A), len(exp_df.A)
M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = np.sum([r**2 for r in exp_df.A]) - (np.sum(exp_df.A)**2 / n1), np.sum([r**2 for r in exp_df.B]) - (np.sum(exp_df.B)**2 / n2)

In [113]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2, tail_num=1)

[one tail, alpha 0.05] t_statistic:2.244994432064365, critical_region:t > 1.761
=> null hypothesis rejection [True]

In [114]:
stats.ttest_ind(exp_df.A, exp_df.B)

Ttest_indResult(statistic=2.244994432064365, pvalue=0.04144310815279534)

In [115]:
r_squared_ind(M1, M2, SS1, SS2, n1, n2)

0.2647

---
![''](./10_src/10_14_01.png)

![''](./10_src/10_14_02.png)

In [116]:
exp_df = pd.DataFrame({'A':[7, 8, 10, 6, 8, 5, 7, 12, 5], 
                       'B':[9, 11, 13, 10, 11, 9, 15, 14, 10]})
exp_df

    A   B
0   7   9
1   8  11
2  10  13
3   6  10
4   8  11
5   5   9
6   7  15
7  12  14
8   5  10

In [117]:
n1, n2 = len(exp_df.A), len(exp_df.A)
M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = np.sum([r**2 for r in exp_df.A]) - (np.sum(exp_df.A)**2 / n1), np.sum([r**2 for r in exp_df.B]) - (np.sum(exp_df.B)**2 / n2)

In [118]:
ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2, tail_num=1)

[one tail, alpha 0.05] t_statistic:-3.578947368421054, critical_region:t < -1.746
=> null hypothesis rejection [True]

In [119]:
stats.ttest_ind(exp_df.A, exp_df.B)

Ttest_indResult(statistic=-3.578947368421053, pvalue=0.0025083298432781805)

In [120]:
cohens_d_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

-1.687

In [ ]:
# Pool Variance, Estimated standard Error, null hypothesis 기각 여부 결정
# independent-measure t test (using statistic)
# independent-measure t test (using raw dataset)

---
![''](./10_src/10_16_01.png)

---
![''](./10_src/10_19_01.png)

# sample size, variability가 standard error for the sample mean difference(estimated standard error)에 끼치는 영향

---
![''](./10_src/10_20_01.png)

---
![''](./10_src/10_21_01.png)

![''](./10_src/10_21_02.png)

---
![''](./10_src/10_22_01.png)

---
![''](./10_src/10_23_01.png)