In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.anova import AnovaRM

import slow_statistic

# 유형
1. independent-measures ANOVA (using statistic)
2. independent-measures ANOVA (using raw dataset)
3. sample size, SS와 F-ratio와의 관계 (null hypothesis 기각여부 영향)

In [2]:
# + post hoc test
# + eta_squared

# independent-measures ANOVA (using statistic)

---
![''](./12_src/12_14_01.png)

In [2]:
slow_stat = slow_statistic.Stats()

n_array = [8, 6, 4]
t_array = [16, 24, 32]
var_array = [40, 24, 16]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array)

[alpha 0.05] F_ratio:9.0, critical_region:F > 3.68
=> null hypothesis rejection [True]

---
![''](./12_src/12_20_01.png)

In [3]:
slow_stat = slow_statistic.Stats()

n_array = [10, 10, 10]
t_array = [20, 30, 40]
var_array = [2.67, 2.00, 1.33]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:5.0, critical_region:F > 3.35
=> null hypothesis rejection [True]

In [ ]:
var = SS / df
SS = var * df

---
![''](./12_src/12_21_01.png)

In [4]:
slow_stat = slow_statistic.Stats()

n_array = [25, 25, 25]
t_array = [50, 75, 100]
var_array = [2.67, 2.00, 1.33]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:12.5, critical_region:F > 3.12
=> null hypothesis rejection [True]

# independent-measures ANOVA (using raw dataset)

---
![''](./12_src/12_13_01.png)

In [5]:
exp_df = pd.DataFrame({'A':[5, 1, 2, 3, 0, 1, 2, 2], 'B':[2, 6, 2, 3, 5, 3, 0, 3], 'C':[7, 3, 2, 4, 5, 2, 4, 5]})
exp_df

   A  B  C
0  5  2  7
1  1  6  3
2  2  2  2
3  3  3  4
4  0  5  5
5  1  3  2
6  2  0  4
7  2  3  5

In [6]:
slow_stat = slow_statistic.Stats()

n_array = [len(exp_df[c].dropna()) for c in exp_df.columns]
t_array = [exp_df[c].dropna().sum() for c in exp_df.columns]
var_array = [exp_df[c].dropna().var() for c in exp_df.columns]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:2.8, critical_region:F > 3.47
=> null hypothesis rejection [False]

In [7]:
stats.f_oneway(exp_df.A, exp_df.B, exp_df.C)

F_onewayResult(statistic=2.8, pvalue=0.08356903939297175)

---
![''](./12_src/12_18_01.png)

In [8]:
exp_df = pd.DataFrame({'A':[4, 3, 5, 4], 'B':[3, 1, 3, 1], 'C':[8, 4, 6, 6]})
exp_df

   A  B  C
0  4  3  8
1  3  1  4
2  5  3  6
3  4  1  6

In [9]:
slow_stat = slow_statistic.Stats()

n_array = [len(exp_df[c].dropna()) for c in exp_df.columns]
t_array = [exp_df[c].dropna().sum() for c in exp_df.columns]
var_array = [exp_df[c].dropna().var() for c in exp_df.columns]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:10.285714285714285, critical_region:F > 4.26
=> null hypothesis rejection [True]

In [10]:
stats.f_oneway(exp_df.A, exp_df.B, exp_df.C)

F_onewayResult(statistic=10.285714285714285, pvalue=0.004733320563341529)

---
![''](./12_src/12_19_01.png)

![''](./12_src/12_19_02.png)

In [11]:
exp_df = pd.DataFrame({'A':[4, 2, 6, 4], 'B':[4, 0, 3, 1], 'C':[9, 3, 6, 6]})
exp_df

   A  B  C
0  4  4  9
1  2  0  3
2  6  3  6
3  4  1  6

In [12]:
slow_stat = slow_statistic.Stats()

n_array = [len(exp_df[c].dropna()) for c in exp_df.columns]
t_array = [exp_df[c].dropna().sum() for c in exp_df.columns]
var_array = [exp_df[c].dropna().var() for c in exp_df.columns]

slow_stat.f_oneway_ind_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:4.0, critical_region:F > 4.26
=> null hypothesis rejection [False]

In [13]:
stats.f_oneway(exp_df.A, exp_df.B, exp_df.C)

F_onewayResult(statistic=4.0, pvalue=0.05715722641719019)

---
![''](./12_src/12_24_01.png)

![''](./12_src/12_24_02.png)

In [14]:
exp_df = pd.DataFrame({'A':[1, 6, 6, 3], 'B':[12, 5, 6, 9]})
exp_df

   A   B
0  1  12
1  6   5
2  6   6
3  3   9

In [15]:
slow_stat = slow_statistic.Stats()

n_array = [len(exp_df[c].dropna()) for c in exp_df.columns]
t_array = [exp_df[c].dropna().sum() for c in exp_df.columns]
var_array = [exp_df[c].dropna().var() for c in exp_df.columns]

slow_stat.f_oneway_from_stat(n_array, t_array, var_array, var_type='variance')

[alpha 0.05] F_ratio:4.0, critical_region:F > 5.99
=> null hypothesis rejection [False]

In [16]:
stats.f_oneway(exp_df.A, exp_df.B)

F_onewayResult(statistic=4.0, pvalue=0.09242631153167513)

#### t-test

In [20]:
slow_stat = slow_statistic.Stats()

M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = slow_stat.__calculate_SS__(exp_df.A), slow_stat.__calculate_SS__(exp_df.B)
n1, n2 = len(exp_df.A), len(exp_df.B)

slow_stat.ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:-2.0, critical_region:t > 2.447 or t < -2.447
=> null hypothesis rejection [False]

In [24]:
4.0 == (-2) ** 2

True

# sample size, SS와 F-ratio와의 관계

---
![''](./12_src/12_17_01.png)

![''](./12_src/12_17_02.png)

#### a. If the mean for treatment III were changed to M = 25, what would happen to the size of the F-ratio (increase or decrease)? Explain your answer.
- 줄어든다. 20, 28 사이로 들어가서, MS_between이 줄어들기 때문이다.

#### b. If the SS for treatment I were changed to SS = 1400, what would happen to the size of the F-ratio (increase or decrease)? Explain your answer.
- 줄어든다. denominator를 구성하는 MS_within, MS_within을 구성하는 SS_within이 커지기 때문이다.