In [1]:
import pandas as pd

%matplotlib inline

---
![''](./04_src/04_21_01.png)

![''](./04_src/04_21_02.png)

In [2]:
df = pd.DataFrame({'Older':[9, 4, 7, 3, 8, 6, 2, 8, 4, 5, 7, 5, 2, 6, 6], 
                   'Younger':[7, 9, 6, 7, 8, 6, 7, 6, 6, 8, 9, 7, 8, 6, 9]})
df

    Older  Younger
0       9        7
1       4        9
2       7        6
3       3        7
4       8        8
5       6        6
6       2        7
7       8        6
8       4        6
9       5        8
10      7        9
11      5        7
12      2        8
13      6        6
14      6        9

In [3]:
df.describe()

           Older    Younger
count  15.000000  15.000000
mean    5.466667   7.266667
std     2.166850   1.162919
min     2.000000   6.000000
25%     4.000000   6.000000
50%     6.000000   7.000000
75%     7.000000   8.000000
max     9.000000   9.000000

---
![''](./04_src/04_22_01.png)

![''](./04_src/04_22_02.png)

In [4]:
df = pd.DataFrame({'Younger':[8, 6, 6, 7, 8, 7, 8, 8], 
                   'Older':[7, 5, 8, 5, 7, 6, 8, 5]})
df

   Younger  Older
0        8      7
1        6      5
2        6      8
3        7      5
4        8      7
5        7      6
6        8      8
7        8      5

In [10]:
df.Younger.var(), df.Older.var()

(0.7857142857142857, 1.6964285714285714)