In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import slow_statistic

In [2]:
# def __calculate_t_statistic_rel__(M_d, SS, n):

#     std_error = np.sqrt((SS / (n - 1)) / n)
#     t_statistic = (M_d - 0) / std_error
    
#     return t_statistic

# def __calculate_t_portion_rel__(n, alpha, tail_num):
    
#     df = n - 1
#     t_portion = round(stats.t.ppf(1 - alpha/tail_num, df=df), 3)
    
#     return t_portion

# def ttest_rel_from_stats(M_d, SS, n, alpha=0.05, tail_num=2):
    
#     t, cr = __calculate_t_statistic_rel__(M_d, SS, n), __calculate_t_portion_rel__(n, alpha, tail_num)

#     if tail_num == 2:

#         rejection_decision = (t > cr) | (t < -1 * cr)
#         region = f't > {cr} or t < -{cr}'
#         criteria = f'two tail, alpha {alpha}'

#     elif tail_num == 1:

#         if t > 0:

#             rejection_decision = (t > cr)
#             region = f't > {cr}'

#         else:

#             rejection_decision = (t < -1 * cr)
#             region = f't < -{cr}'

#         criteria = f'one tail, alpha {alpha}'

#     else:
#         print('Should use tail_num 1 or 2.')
#         return None

#     print(f'[{criteria}] t_statistic:{t}, critical_region:{region}\n=> null hypothesis rejection [{rejection_decision}]')

# def cohens_d_rel_from_stats(M_d, SS, n):
    
#     s = np.sqrt(SS / (n - 1))
#     estimated_d = round(M_d / s, 3)
    
#     return estimated_d

# def r_squared_rel(M_d, SS, n):
    
#     t_statistic = __calculate_t_statistic_rel__(M_d, SS, n)
#     r_squared = round(t_statistic**2 / (t_statistic**2 + n - 1), 4)
    
#     return r_squared

# def confidence_interval_rel_from_stats(M_d, SS, n, alpha=0.05, tail_num=2):
    
#     std_error = np.sqrt((SS / (n - 1)) / n)
#     ci_start = round(M_d - __calculate_t_portion_rel__(n, alpha, tail_num) * std_error, 4)
#     ci_end = round(M_d + __calculate_t_portion_rel__(n, alpha, tail_num) * std_error, 4)
    
#     print(f'[confidence interval] {ci_start} ~ {ci_end}')

# 유형
1. repeated-measure t test (using statistic)
2. repeated-measure t test (using raw dataset)
3. sample standard deviation/mean difference/size 와 null hypothesis 기각 여부의 관계
4. independent-measure와 repeated-measure 비교

# repeated-measure t test (using statistic)

---
![''](./11_src/11_06_01.png)

![''](./11_src/11_06_02.png)

In [3]:
slow_stat = slow_statistic.Stats()

n = 12
SS = 33
M_d = 1.2

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:2.4, critical_region:t > 2.201 or t < -2.201
=> null hypothesis rejection [True]

---
![''](./11_src/11_08_01.png)

In [4]:
slow_stat = slow_statistic.Stats()

n = 16
SS = 135
M_d = 2.6

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:3.466666666666667, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [True]

In [5]:
slow_stat.cohens_d_rel_from_stats(M_d, SS, n)

0.867

---
![''](./11_src/11_09_01.png)

![''](./11_src/11_09_02.png)

In [6]:
slow_stat = slow_statistic.Stats()

n = 25
SS = 150
M_d = 1.32

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:2.64, critical_region:t > 2.064 or t < -2.064
=> null hypothesis rejection [True]

In [7]:
# slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
slow_stat.r_squared_rel_from_stats(M_d, SS, n)

0.225

---
![''](./11_src/11_10_01.png)

In [8]:
slow_stat = slow_statistic.Stats()

n = 20
SS = 125 * (n - 1)
M_d = 4.8
slow_stat.tail_num = 1

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[one tail, alpha 0.05] t_statistic:1.92, critical_region:t > 1.729
=> null hypothesis rejection [True]

In [9]:
# slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
# slow_stat.r_squared_rel_from_stats(M_d, SS, n)
slow_stat.alpha = 0.2
slow_stat.tail_num = 1

slow_stat.confidence_interval_rel_from_stats(M_d, SS, n)

[confidence interval] 2.6475 ~ 6.9525

---
![''](./11_src/11_11_01.png)

![''](./11_src/11_11_02.png)

In [10]:
slow_stat = slow_statistic.Stats()

n = 16
SS = 2940
M_d = 21
slow_stat.alpha = 0.01

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.01] t_statistic:6.0, critical_region:t > 2.947 or t < -2.947
=> null hypothesis rejection [True]

In [11]:
# slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
# slow_stat.r_squared_rel_from_stats(M_d, SS, n)
slow_stat.alpha = 0.05

slow_stat.confidence_interval_rel_from_stats(M_d, SS, n)

[confidence interval] 13.5415 ~ 28.4585

---
![''](./11_src/11_12_01.png)

In [12]:
slow_stat = slow_statistic.Stats()

n = 16
SS = 2940
M_d = 21
slow_stat.alpha = 0.01

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.01] t_statistic:6.0, critical_region:t > 2.947 or t < -2.947
=> null hypothesis rejection [True]

In [13]:
slow_stat.alpha = 0.05

slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
# slow_stat.r_squared_rel_from_stats(M_d, SS, n)
# slow_stat.confidence_interval_rel_from_stats(M_d, SS, n)

1.5

---
![''](./11_src/11_13_01.png)

In [14]:
slow_stat = slow_statistic.Stats()

s = 2
n = 25
SS = s**2 * (n - 1)
M_d = 2.7

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:6.75, critical_region:t > 2.064 or t < -2.064
=> null hypothesis rejection [True]

---
![''](./11_src/11_14_01.png)

![''](./11_src/11_14_02.png)

In [15]:
slow_stat = slow_statistic.Stats()

n = 9
SS = 288
M_d = 7

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:3.5, critical_region:t > 2.306 or t < -2.306
=> null hypothesis rejection [True]

In [16]:
# slow_stat.alpha = 0.05
# slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
# slow_stat.r_squared_rel_from_stats(M_d, SS, n)
slow_stat.confidence_interval_rel_from_stats(M_d, SS, n)

[confidence interval] 2.388 ~ 11.612

# repeated-measure t test (using raw dataset)

---
![''](./11_src/11_07_01.png)

In [17]:
exp_df = pd.DataFrame({'A':[7, 2, 4, 5, 5, 3], 
                       'B':[8, 9, 6, 7, 6, 8]})
exp_df

   A  B
0  7  8
1  2  9
2  4  6
3  5  7
4  5  6
5  3  8

In [18]:
slow_stat = slow_statistic.Stats()

diff_sr = (exp_df.A - exp_df.B)
n = len(diff_sr)
M_d = diff_sr.mean()
SS = np.sum([r**2 for r in diff_sr]) - (np.sum(diff_sr)**2 / n)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:-3.0, critical_region:t > 2.571 or t < -2.571
=> null hypothesis rejection [True]

In [19]:
stats.ttest_rel(exp_df.A, exp_df.B)

Ttest_relResult(statistic=-3.0, pvalue=0.03009924789746257)

---
![''](./11_src/11_15_01.png)

In [20]:
exp_df = pd.DataFrame({'A':[4, 6, 5, 5, 6, 4, 3, 8, 6], 
                       'B':[7, 7, 8, 9, 9, 7, 9, 9, 9]})
exp_df

   A  B
0  4  7
1  6  7
2  5  8
3  5  9
4  6  9
5  4  7
6  3  9
7  8  9
8  6  9

In [21]:
slow_stat = slow_statistic.Stats()

diff_sr = (exp_df.A - exp_df.B)
n = len(diff_sr)
M_d = diff_sr.mean()
SS = np.sum([r**2 for r in diff_sr]) - (np.sum(diff_sr)**2 / n)
slow_stat.alpha = 0.01

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.01] t_statistic:-6.0, critical_region:t > 3.355 or t < -3.355
=> null hypothesis rejection [True]

In [22]:
stats.ttest_rel(exp_df.A, exp_df.B)

Ttest_relResult(statistic=-6.0, pvalue=0.0003233932218851488)

---
![''](./11_src/11_16_01.png)

![''](./11_src/11_16_02.png)

In [23]:
exp_df = pd.DataFrame({'A':[94, 70, 52, 83, 46, 117, 69, 39, 51, 73], 
                       'B':[59, 61, 47, 60, 35, 92, 53, 30, 56, 61]})
exp_df

     A   B
0   94  59
1   70  61
2   52  47
3   83  60
4   46  35
5  117  92
6   69  53
7   39  30
8   51  56
9   73  61

In [24]:
slow_stat = slow_statistic.Stats()

diff_sr = (exp_df.A - exp_df.B)
n = len(diff_sr)
M_d = diff_sr.mean()
SS = np.sum([r**2 for r in diff_sr]) - (np.sum(diff_sr)**2 / n)
slow_stat.alpha = 0.01

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.01] t_statistic:3.913118960624632, critical_region:t > 3.25 or t < -3.25
=> null hypothesis rejection [True]

In [25]:
# slow_stat.alpha = 0.05
# slow_stat.cohens_d_rel_from_stats(M_d, SS, n)
slow_stat.r_squared_rel_from_stats(M_d, SS, n)
# slow_stat.confidence_interval_rel_from_stats(M_d, SS, n)

0.6298

In [26]:
stats.ttest_rel(exp_df.A, exp_df.B)

Ttest_relResult(statistic=3.913118960624632, pvalue=0.00354788605082344)

In [27]:
r_squared_rel(M_d, SS, n)

NameError: name 'r_squared_rel' is not defined

# sample standard deviation/mean difference/size 와 null hypothesis 기각 여부의 관계

---
![''](./11_src/11_17_01.png)

In [28]:
slow_stat = slow_statistic.Stats()

s = 4
n, M_d = 16, 3
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:3.0, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [True]

In [29]:
slow_stat = slow_statistic.Stats()

s = 12
n, M_d = 16, 3
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:1.0, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [False]

> repeated-measure t test에서, sample std가 증가하면 null hypothesis 기각 가능성이 감소한다.

---
![''](./11_src/11_18_01.png)

![''](./11_src/11_18_02.png)

In [30]:
slow_stat = slow_statistic.Stats()

s = 8
n, M_d = 16, 4
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:2.0, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [False]

In [31]:
slow_stat = slow_statistic.Stats()

s = 8
n, M_d = 16, 10
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:5.0, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [True]

> repeated-measure t test에서, sample mean difference가 증가하면 null hypothesis 기각 가능성이 증가한다.

---
![''](./11_src/11_19_01.png)

In [32]:
slow_stat = slow_statistic.Stats()

s = 4
n, M_d = 4, 3
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:1.5, critical_region:t > 3.182 or t < -3.182
=> null hypothesis rejection [False]

In [33]:
slow_stat = slow_statistic.Stats()

s = 4
n, M_d = 16, 3
SS = s**2 * (n - 1)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:3.0, critical_region:t > 2.131 or t < -2.131
=> null hypothesis rejection [True]

> repeated-measure t test에서, sample size가 증가하면 null hypothesis 기각 가능성이 증가한다.

# independent-measure와 repeated-measure 비교

---
![''](./11_src/11_21_01.png)
![''](./11_src/11_21_02.png)

In [34]:
exp_df = pd.DataFrame({'A':[10, 8, 5, 5, 4, 10, 11, 3], 
                       'B':[13, 6, 9, 6, 6, 14, 13, 5]})
exp_df

    A   B
0  10  13
1   8   6
2   5   9
3   5   6
4   4   6
5  10  14
6  11  13
7   3   5

#### independent-measure t-test

In [35]:
slow_stat = slow_statistic.Stats()

n1, n2 = len(exp_df.A), len(exp_df.B)
M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = np.sum([r**2 for r in exp_df.A]) - (np.sum(exp_df.A)**2 / n1), np.sum([r**2 for r in exp_df.B]) - (np.sum(exp_df.B)**2 / n2)

slow_stat.ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:-1.1547005383792517, critical_region:t > 2.145 or t < -2.145
=> null hypothesis rejection [False]

In [36]:
M1, M2

(7.0, 9.0)

#### repeated-measure t-test

In [37]:
diff_sr

0    35
1     9
2     5
3    23
4    11
5    25
6    16
7     9
8    -5
9    12
dtype: int64

In [38]:
slow_stat = slow_statistic.Stats()

diff_sr = (exp_df.A - exp_df.B)
n = len(diff_sr)
M_d = diff_sr.mean()
SS = np.sum([r**2 for r in diff_sr]) - (np.sum(diff_sr)**2 / n)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:-2.9351975428213715, critical_region:t > 2.365 or t < -2.365
=> null hypothesis rejection [True]

---
![''](./11_src/11_22_01.png)
![''](./11_src/11_22_02.png)

In [39]:
exp_df = pd.DataFrame({'A':[10, 8, 5, 5, 4, 10, 11, 3], 
                       'B':[13, 14, 13, 5, 9, 6, 6, 6]})
exp_df

    A   B
0  10  13
1   8  14
2   5  13
3   5   5
4   4   9
5  10   6
6  11   6
7   3   6

#### independent-measure t-test

In [40]:
slow_stat = slow_statistic.Stats()

n1, n2 = len(exp_df.A), len(exp_df.B)
M1, M2 = exp_df.A.mean(), exp_df.B.mean()
SS1, SS2 = np.sum([r**2 for r in exp_df.A]) - (np.sum(exp_df.A)**2 / n1), np.sum([r**2 for r in exp_df.B]) - (np.sum(exp_df.B)**2 / n2)

slow_stat.ttest_ind_from_stats(M1, M2, SS1, SS2, n1, n2)

[two tail, alpha 0.05] t_statistic:-1.1547005383792517, critical_region:t > 2.145 or t < -2.145
=> null hypothesis rejection [False]

In [41]:
M1, M2

(7.0, 9.0)

#### repeated-measure t-test

In [42]:
diff_sr

0   -3
1    2
2   -4
3   -1
4   -2
5   -4
6   -2
7   -2
dtype: int64

In [43]:
slow_stat = slow_statistic.Stats()

diff_sr = (exp_df.A - exp_df.B)
n = len(diff_sr)
M_d = diff_sr.mean()
SS = np.sum([r**2 for r in diff_sr]) - (np.sum(diff_sr)**2 / n)

slow_stat.ttest_rel_from_stats(M_d, SS, n)

[two tail, alpha 0.05] t_statistic:-1.2139539573337679, critical_region:t > 2.365 or t < -2.365
=> null hypothesis rejection [False]