In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.anova import AnovaRM

import slow_statistic

# 유형
1. repeated-measures ANOVA (using raw dataset)
2. sample size와 repeated-ANOVA null hypothesis 기각 여부의 관계
3. individual difference와 repeated-ANOVA null hypothesis 기각 여부의 관계
4. independent-measures ANOVA, repeated-measures ANOVA 비교
5. ANOVA, t-test의 관계

# repeated-measures ANOVA (using raw dataset)

---
![''](./13_src/13_05_01.png)

In [2]:
slow_stat = slow_statistic.Stats()

n_array = [5, 5, 5]
t_array = [5, 25, 30]
var_array = [8, 22, 10]
p_array = [6, 9, 18, 12, 15]

slow_stat.f_oneway_rel_from_stat(n_array, t_array, var_array, p_array)

[alpha 0.05] F_ratio:28.0, critical_region:F > 4.46
=> null hypothesis rejection [True]

---
![''](./13_src/13_06_01.png)

![''](./13_src/13_06_02.png)

In [3]:
exp_df = pd.DataFrame({'A':[3, 0, 2, 0, 0], 
                       'B':[4, 3, 1, 1, 1], 
                       'C':[7, 6, 5, 4, 3], 
                       'D':[6, 3, 4, 3, 4]})
exp_df

   A  B  C  D
0  3  4  7  6
1  0  3  6  3
2  2  1  5  4
3  0  1  4  3
4  0  1  3  4

In [22]:
exp_df_r = []
for i in exp_df.index:
    exp_df_sub = exp_df.loc[i].reset_index()
    exp_df_sub.insert(0, 'Person', i)
    exp_df_sub.columns = ['Person', 'Treatment', 'Score']
    exp_df_r.append(exp_df_sub)
exp_df_rv = pd.concat(exp_df_r, sort=False)

In [10]:
slow_stat = slow_statistic.Stats()

n_array = exp_df.count(axis=0).to_list()
t_array = exp_df.sum(axis=0).to_list()
var_array = exp_df.var(axis=0).to_list()
p_array = exp_df.sum(axis=1).to_list()

slow_stat.f_oneway_rel_from_stat(n_array, t_array, var_array, p_array, var_type='variance')

[alpha 0.05] F_ratio:25.000000000000004, critical_region:F > 3.49
=> null hypothesis rejection [True]

In [23]:
print(AnovaRM(data=exp_df_rv, depvar='Score', subject='Person', within=['Treatment']).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
Treatment 25.0000 3.0000 12.0000 0.0000
=======================================

---
![''](./13_src/13_20_01.png)

In [24]:
exp_df = pd.DataFrame({'A':[6, 4, 5, 1, 0, 2], 
                       'B':[8, 5, 5, 2, 1, 3], 
                       'C':[10, 6, 5, 3, 2, 4]})
exp_df

   A  B   C
0  6  8  10
1  4  5   6
2  5  5   5
3  1  2   3
4  0  1   2
5  2  3   4

In [25]:
exp_df_r = []
for i in exp_df.index:
    exp_df_sub = exp_df.loc[i].reset_index()
    exp_df_sub.insert(0, 'Person', i)
    exp_df_sub.columns = ['Person', 'Treatment', 'Score']
    exp_df_r.append(exp_df_sub)
exp_df_rv = pd.concat(exp_df_r, sort=False)

In [26]:
exp_df_rv

   Person Treatment  Score
0       0         A      6
1       0         B      8
2       0         C     10
0       1         A      4
1       1         B      5
2       1         C      6
0       2         A      5
1       2         B      5
2       2         C      5
0       3         A      1
1       3         B      2
2       3         C      3
0       4         A      0
1       4         B      1
2       4         C      2
0       5         A      2
1       5         B      3
2       5         C      4

In [27]:
slow_stat = slow_statistic.Stats()

n_array = exp_df.count(axis=0).to_list()
t_array = exp_df.sum(axis=0).to_list()
var_array = exp_df.var(axis=0).to_list()
p_array = exp_df.sum(axis=1).to_list()

slow_stat.f_oneway_rel_from_stat(n_array, t_array, var_array, p_array, var_type='variance')

[alpha 0.05] F_ratio:15.0, critical_region:F > 4.1
=> null hypothesis rejection [True]

In [28]:
print(AnovaRM(data=exp_df_rv, depvar='Score', subject='Person', within=['Treatment']).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
Treatment 15.0000 2.0000 10.0000 0.0010
=======================================

# sample size와 repeated-ANOVA null hypothesis 기각 여부의 관계

---
![''](./13_src/13_17_01.png)

![''](./13_src/13_17_02.png)

In [32]:
exp_df = pd.DataFrame({'A':[1, 4, 2, 1], 
                       'B':[4, 8, 7, 5], 
                       'C':[7, 6, 9, 6]})
exp_df_r = []
for i in exp_df.index:
    exp_df_sub = exp_df.loc[i].reset_index()
    exp_df_sub.insert(0, 'Person', i)
    exp_df_sub.columns = ['Person', 'Treatment', 'Score']
    exp_df_r.append(exp_df_sub)
exp_df_rv = pd.concat(exp_df_r, sort=False)

In [33]:
slow_stat = slow_statistic.Stats()

n_array = exp_df.count(axis=0).to_list()
t_array = exp_df.sum(axis=0).to_list()
var_array = exp_df.var(axis=0).to_list()
p_array = exp_df.sum(axis=1).to_list()

slow_stat.f_oneway_rel_from_stat(n_array, t_array, var_array, p_array, var_type='variance')

[alpha 0.05] F_ratio:16.8, critical_region:F > 5.14
=> null hypothesis rejection [True]

In [34]:
print(AnovaRM(data=exp_df_rv, depvar='Score', subject='Person', within=['Treatment']).fit())

                Anova
======================================
          F Value Num DF Den DF Pr > F
--------------------------------------
Treatment 16.8000 2.0000 6.0000 0.0035
======================================

In [36]:
exp_df = pd.DataFrame({'A':[1, 4, 2, 1] * 2, 
                       'B':[4, 8, 7, 5] * 2, 
                       'C':[7, 6, 9, 6] * 2})
exp_df_r = []
for i in exp_df.index:
    exp_df_sub = exp_df.loc[i].reset_index()
    exp_df_sub.insert(0, 'Person', i)
    exp_df_sub.columns = ['Person', 'Treatment', 'Score']
    exp_df_r.append(exp_df_sub)
exp_df_rv = pd.concat(exp_df_r, sort=False)

In [37]:
slow_stat = slow_statistic.Stats()

n_array = exp_df.count(axis=0).to_list()
t_array = exp_df.sum(axis=0).to_list()
var_array = exp_df.var(axis=0).to_list()
p_array = exp_df.sum(axis=1).to_list()

slow_stat.f_oneway_rel_from_stat(n_array, t_array, var_array, p_array, var_type='variance')

[alpha 0.05] F_ratio:39.199999999999996, critical_region:F > 3.74
=> null hypothesis rejection [True]

In [38]:
print(AnovaRM(data=exp_df_rv, depvar='Score', subject='Person', within=['Treatment']).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
Treatment 39.2000 2.0000 14.0000 0.0000
=======================================

# individual difference와 repeated-ANOVA null hypothesis 기각 여부의 관계

---
![''](./13_src/13_18_01.png)

---
![''](./13_src/13_19_01.png)

![''](./13_src/13_19_02.png)

# independent-measures ANOVA, repeated-measures ANOVA 비교

---
![''](./13_src/13_22_01.png)

---
![''](./13_src/13_23_01.png)

# ANOVA, t-test의 관계

---
![''](./13_src/13_07_01.png)

---
![''](./13_src/13_24_01.png)

---
![''](./13_src/13_25_01.png)

![''](./13_src/13_25_02.png)

---
![''](./13_src/13_26_01.png)